<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/test.php">
<testsuites>
    <testsuite name="single">
        <directory>./tests/</directory>
    </testsuite>
</testsuites>
    <filter>
        <whitelist>
            <directory>./core</directory>
        </whitelist>
    </filter>
</phpunit>